/* PORTFOLIO ONLY */

#filters {
  padding-bottom: 60px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.portfolio-grid {
  margin-top: 60px;
}

.portfolio-card {
  overflow: hidden;
}

.portfolio-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 15px;
  transition: 0.4s ease;
}

.portfolio-card:hover img {
  transform: scale(1.05);
}

/* BADGES */
.badges-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.badge {
  padding: 12px 26px;
  border-radius: 30px;
  font-weight: 600;
  background: linear-gradient(45deg,#a855f7,#3b82f6);
  box-shadow: 0 0 25px rgba(168,85,247,0.5);
}
